<div class="about page-banner">
    <div class="border">
        <div class="title"></div>
        <div class="about-title">
            <h2 class="header">ABOUT US</h2>
            <p class="body">Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum
                dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem
                ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
                Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit
                amet</p>
        </div>
    </div>
</div>
<div class="statement">
    <div class="row">
        <div class="col s12 m6">
            <h2 class="header">Our Mission</h2>
            <p class="body">Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget
                blandit
                nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</p>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet
                nibh
                nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi.</p>
        </div>
        <div class="col s12 m6">
            <h2 class="header">Our Philosophy</h2>
            <p class="body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque
                aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi.
                Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu
                nibh. Nullam mollis. Ut justo. Suspendisse potenti.</p>
        </div>
    </div>
</div>
<div class="people text-center">
    <h2 class="header">Our Creative people</h2>
    <p class="body">Variations of passages of Lorem Ipsum available</p>
    <div class="row">
        <div class="col s12 m4">
            <div class="card worker-1">
                <div class="card-overlay"></div>
                <div class="people-content">
                    <a href="#home">Home</a>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card worker-2">
                <div class="card-overlay"></div>
                <div class="people-content">
                    <a href="#home">Home</a>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card worker-3">
                <div class="card-overlay"></div>
                <div class="people-content">
                    <a href="#home">Home</a>
                </div>
            </div>
        </div>
    </div>
</div>